<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Storage</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='cloud/css/style.css')}}">
    <script src="{{url_for('static', filename='cloud/js/jquery.js')}}"></script>
</head>
<body>
    <div id="header">
        <button id="Name-Ascending">파일명<br>오름차순</button>
        <button id="Name-Descending">파일명<br>내림차순</button>
        <h1>파일 목록</h1>
        <button id="Volume-Ascending">용량<br>오름차순</button>
        <button id="Volume-Descending">용량<br>내림차순</button>
    </div>
    <div id="search">
        <input type="text" name="SearchBox" id="SB" placeholder="파일명 검색" onkeyup="if(window.event.keyCode==13){search()}">
    </div>
    <table id="list" data-filelistdata='{{FileListData}}'>
        <thead>
            <th class="FileName">파일명</th>
            <th class="Volume">용량</th>
        </thead>
        <tbody>
            <tr name="1"><td class="FileName"><a href="javascript:;">임시</a></td><td class="Volume">임시</td></tr>
            <tr name="2"><td class="FileName"><a href="javascript:;">임시</a></td><td class="Volume">임시</td></tr>
            <tr name="3"><td class="FileName"><a href="javascript:;">임시</a></td><td class="Volume">임시</td></tr>
            <tr name="4"><td class="FileName"><a href="javascript:;">임시</a></td><td class="Volume">임시</td></tr>
            <tr name="5"><td class="FileName"><a href="javascript:;">임시</a></td><td class="Volume">임시</td></tr>
            <tr name="6"><td class="FileName"><a href="javascript:;">임시</a></td><td class="Volume">임시</td></tr>
            <tr name="7"><td class="FileName"><a href="javascript:;">임시</a></td><td class="Volume">임시</td></tr>
            <tr name="8"><td class="FileName"><a href="javascript:;">임시</a></td><td class="Volume">임시</td></tr>
            <tr name="9"><td class="FileName"><a href="javascript:;">임시</a></td><td class="Volume">임시</td></tr>
            <tr name="10"><td class="FileName"><a href="javascript:;">임시</a></td><td class="Volume">임시</td></tr>
            <tr name="11"><td class="FileName"><a href="javascript:;">임시</a></td><td class="Volume">임시</td></tr>
            <tr name="12"><td class="FileName"><a href="javascript:;">임시</a></td><td class="Volume">임시</td></tr>
            <tr name="13"><td class="FileName"><a href="javascript:;">임시</a></td><td class="Volume">임시</td></tr>
            <tr name="14"><td class="FileName"><a href="javascript:;">임시</a></td><td class="Volume">임시</td></tr>
            <tr name="15"><td class="FileName"><a href="javascript:;">임시</a></td><td class="Volume">임시</td></tr>
        </tbody>
    </table>
    <table id="numbers" data-number="0">
        <tfoot>
            <tr>
                <td>
                    <button class="PageNumber" name="Start">◁</button>
                    <button class="PageNumber" name="LeftJump">◀</button>
                    <button class="slot" name="0">1</button>
                    <button class="slot" name="1">2</button>
                    <button class="slot" name="2">3</button>
                    <button class="slot" name="3">4</button>
                    <button class="slot" name="4">5</button>
                    <button class="PageNumber" name="RightJump">▶</button>
                    <button class="PageNumber" name="End">▷</button>
                </td>
            </tr>
        </tfoot>
    </table>
    <script src="{{url_for('static', filename='cloud/js/script.js')}}"></script>
</body>
</html>